<div class="header w-full flex justify-between py-[40px]">
  <div class="header__logo w-1/2 flex justify-start items-center">
    <img src="assets/logo.png" alt="logo" class="w-[40px] h-[40px] p-2 md:w-[60px] md:h-[60px]" />
    <p class="font-bold text-[1/2em] text-black">MyTODO List</p>
  </div>
  <div class="header__menu w-1/2 md:w-1/3 max-w-[230px]">
    <ul class="header__menu flex justify-evenly w-full h-full items-center">
      <li class="menu__item font-bold text-black hover:text-primary">
        <a routerLink="/home" routerLinkActive="active">
          <span>Home</span>
        </a>
      </li>|
      <li class="menu__item font-bold text-black hover:text-primary">
        <a routerLink="/about" routerLinkActive="active">
          <span>About</span>
        </a>
      </li>
    </ul>
  </div>

</div>