<div [formGroup]="todoForm" class="flex justify-center items-center mb-[20px]">
  <input type="text" class="border w-[300px] p-[5px] mr-[20px] rounded-sm" formControlName="todo">
  <button class="bg-primary text-[20px] text-white rounded-md py-[4px] px-[15px]">Submit</button>
</div>


<ng-container *ngIf="todos$ | async; let todos">
  <ng-container [ngTemplateOutlet]="todos.length > 0 ? listTodo : null" [ngTemplateOutletContext]="{ todos: todos }">
  </ng-container>
</ng-container>

<ng-template #listTodo let-todos="todos">
  <div class="todo-list">
    <ul>
      <app-todo-item *ngFor="let todo of todos" [todo]="todo"></app-todo-item>
    </ul>
  </div>
</ng-template>