<h2 class="font-bold text-2xl mb-[20px]">About</h2>
<p class="mb-[15px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptate iure modi commodi molestiae
  labore eum
  similique! Illo tenetur odit inventore consequuntur corporis expedita officia eum. Dolorem quidem beatae, ea
  repudiandae quasi unde optio</p>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur ex voluptatem voluptatum ut aspernatur nemo
  aut. Laudantium inventore qui tempore officia, ullam accusamus.</p>